/* .moonContainer {
    border: 1px solid #0c4c84ff;
    padding: 25px;
    min-width: 800px;
    max-height: 1400px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
} */

/* .moonItem {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    text-align: center;
    background-color: rgba(161, 158, 158, 0.1);
    width: 30%;
    padding: 10px;
    margin: 5px;
} */